* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    /* font-family: 'Space Mono', mono space; */
    font-family: 'Segoe UI';
    min-height: 100vh;
}
main {
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    /* border: 1px solid blue; */
    min-height: calc(100vh - 60px);
}
header {
    height: 60px;
    background-color: #f8f9fc;
    display: flex;
    justify-content: center;
}
header {
    animation-name: header;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.header_content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.logo {
    width: 100px;
}
.notify_icon {
    width: 30px;
    height: 25px;
    opacity: .7;
}
.notify_icon:hover {
    opacity: 1;
}
.profile_logo {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-left: 15px;
    background-color: #f8991c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
    z-index: 0;
}
.menu input:hover ~ .profile_logo{
    background-color: #ec8f14;
}
.menu input:hover {
    cursor: pointer;
}
.menu input:checked ~ .menu_list {
    display: block;
}
.menu {
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu input {
    position: absolute;
    right: calc(20% / 2);
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
}
.menu_list {
    position: absolute;
    right: calc(20% / 2);
    min-width: 100px;
    list-style: none;
    margin-top: 98px;
    font-weight: 400;
    padding: 10px 15px;
    box-shadow: 0 0 20px rgba(211, 196, 196, 0.5);
    background-color: #fff;
    display: none;
}
.menu_list li:not(:first-child):hover {
    background-color: #f8f9fc;
    border-radius: 2px;
}
.profile_name {
    font-size: 15px;
    color: #9ba6b2;
    border-bottom: 1px solid #9ba6b2;
    margin-bottom: 4px;
    padding: 0px 7px;
    padding-bottom: 4px;
}
.profile_name p {
    text-align: center;
}
.menu_item a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding-left: 7px;
    display: block;
}
.main_content img {
    height: 40vh;
    /* border: 1px solid green; */
}
.main_content {
    display: flex;
    align-self: center;
}
.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Epilogue', serif;
    min-width: max-content;
    /* border: 1px solid blue; */
}
.message h1 {
    font-size: 50px;
    font-weight: 300;
}
.message h2 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 400;
}
.notification {
    display: flex;
    border-radius: 5px;
    align-items: center;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}
.notification_img_container {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.notification_img_container img {
    width: 15px;
    height: 15px;
}
.notifications {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.notification_text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    color: #ffffff;
}
.notification_text p {
    word-wrap: break-word;
}
.notification_text h2 {
    font-size: 22px;
    font-weight: 400;
}
.notification.error {
    background-color: #cc382dbd;
    opacity: .9;
}
.notification.success {
    background-color: #75b974c0;
    opacity: .9;
}
.notification.warning {
    background-color: #faa045;
    opacity: .9;
}

@keyframes header {
    0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    transform: none;
    }
}
@media screen and (max-width: 800px) {
    .message h1 {
        font-size: 35px;
    }
    .message h2 {
        font-size: 15px;
    }
    .message p {
        font-size: 10px;
    }
}
@media screen and (max-width: 600px) {
    .message h1 {
        font-size: 20px;
    }
    .message h2 {
        font-size: 10px;
    }
    .message p {
        font-size: 8px;
    }
}